@inherits LayoutComponentBase

<div class="main-wrapper">
    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/assets/img/logo/logo.png" alt="Tequila GG">
            </a>
        </div>
    </nav>

    <main class="container-fluid pt-3">
        @Body
    </main>

    <footer class="bg-body-tertiary p-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-3">

                    <div class="d-flex gap-3 text-light mb-3">
                        <a target="_blank" href="https://steamcommunity.com/id/crazyskull2k/"><i class="fa-brands fa-steam fa-xl"></i></a>
                        <a target="_blank" href="https://discord.gg/WMvHD4ZnrG"><i class="fa-brands fa-discord fa-xl"></i></a>
                        <a target="_blank" href="steam://connect/cs2.tequilagg.ro:27015"><i class="fa-gamepad fa-xl"></i></a>
                        <a target="_blank" href="https://tequilagg.ro"><i class="fa-desktop fa-xl"></i></a>
                    </div>

                    <p class="mb-4">Distractie placuta pe serverul nostru!</p>



                </div>


            </div>
            <p class="text-center">&copy; 2023 Tequila Romania. All rights reserved.</p>
        </div>
    </footer>

</div>